<section class="app-section" layout="row" data-ng-controller="MainCtrl" flex>

  <div layout="column" flex>
  
    <md-toolbar class="main-toolbar">
      <div class="md-toolbar-tools">
        <h2>
          <md-icon class="fa fa-shopping-cart"></md-icon>&nbsp;
          <span>Etsy Listings</span>
          <small>( {{etsy.results.length}} / {{etsy.count | number}} )</small>
        </h2>
        <span flex></span>
        <md-input-container md-theme="docs-dark">
            <label for="testInput">Search Products</label>
            <input type="text" data-ng-model="productsFilter" style="color:white;" md-sidenav-focus>
          </md-input-container>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="images/icons/favorite.svg" style="color: white;" data-ng-click="toggleBookmarks()"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="images/icons/more_vert.svg" style="color: white;" ></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div class="main" layout-margin flex>
      
      <div 
        layout="row" 
        layout-sm="column" 
        layout-align="space-around center" 
        data-ng-show="!etsy.results || etsy.results.length === 0" >
        <md-progress-circular 
          md-mode="indeterminate"></md-progress-circular>
      </div>

      <div key="ez1dnf9z37v2pdunpcrufkrk" active-listings></div>

    </div>
  
  </div>

  <md-sidenav 
    class="md-sidenav-right md-whiteframe-z2" 
    md-component-id="right" 
    data-ng-init="initBookmarks()">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
        <md-icon class="fa fa-bookmark"></md-icon>
        Bookmarks
        <span flex></span>
        <md-button
          title="Bookmark"
          aria-label="Close Bookmarks"
          style="float:right;"
          data-ng-click="close()">
          <md-icon class="fa fa-times"></md-icon>
        </md-button>
        </h1>
      </md-toolbar>
      
      <md-content layout-padding>
          <md-input-container>
            <label for="bookmarkInput">Search Bookmarks</label>
            <input type="text" id="bookmarkInput" data-ng-model="bookmarksFilter" md-sidenav-focus>
          </md-input-container>
        <md-content>
          <md-list>
            <md-subheader class="md-no-sticky">{{(numBookmarks() === 0)?'No':numBookmarks()}} Bookmark{{(numBookmarks() > 1 || numBookmarks() === 0)?'s':''}}</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="bookmark in bookmarks | filter:bookmarksFilter">
              <md-card>
                <md-card-content>
                  <p class="md-title" data-ng-bind-html="bookmark.title"></p>
                  <div layout-align="end center" layout="row">
                    
                    <md-button data-ng-href="{{bookmark.url}}"
                     title="Launch product in new window"
                     target="_blank"
                     ng-disabled="{{!bookmark.url}}"
                     aria-label="Etsy"
                     class="md-icon-button launch" >
                      <md-icon class="fa fa-external-link"></md-icon>
                     </md-button>
                    
                    <md-button
                      title="Remove Bookmark"
                      aria-label="Remove Bookmark"
                      style="float:right;"
                      data-ng-click="removeBookmark(bookmark)">
                      <md-icon class="fa fa-trash"></md-icon>
                    </md-button>

                   </div>
                </md-card-content>
              </md-card>
            </md-list-item>
          </md-list>
        
        </md-content>

      </md-content>
    </md-sidenav>

</section>