<section 
  class="app-section" 
  layout="row" 
  data-ng-controller="MainCtrl" flex>

  <div layout="column" flex>

    <div layout="row" flex>

      <!-- Left sidenav -->
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">
            <img src="https://www.etsy.com/assets/dist/images/etsylogo.20150423182154.png" />
          </h1>
        </md-toolbar>

        <md-content>

          <md-list hide-md show-gt-md>
            <md-subheader class="md-no-sticky">Categories</md-subheader>
            <md-list-item 
              class="md-1-line" 
              data-ng-repeat="cat in categories">
                <md-checkbox 
                  aria-label="{{cat}}"
                  data-ng-change="filterByCategory(cat)"
                  data-ng-model="cat.selected">
                  {{cat.label}}
                  <small>( {{getProductCount(cat)}} )</small>
                  </md-checkbox>
            </md-list-item>
          </md-list>

        </md-content>
      </md-sidenav>

      <!-- Main listings view -->
      <div layout="column" flex>

        <!-- Main product listing toolbar -->
        <md-toolbar class="main-toolbar">
          <div class="md-toolbar-tools">

            <small data-ng-if="products.length > 0" class="page-text" data-ng-if="etsy.count" hide-sm>Viewing <strong>{{products.length}}</strong> out of <strong>{{etsy.count | number}}</strong> total products</small>

            <small data-ng-if="!products || products.length === 0" class="page-text">Loading Products</small>
            <span flex></span>
            <md-input-container md-theme="dark">
                <label for="testInput">Search Products</label>
                <input type="text" data-ng-model="productsFilter" style="color:white;" md-sidenav-focus>
              </md-input-container>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="images/icons/favorite.svg" style="color: white;" data-ng-click="toggleBookmarks()"></md-icon>
              <md-tooltip>{{numBookmarks()}}</md-tooltip>
            </md-button>
          </div>
        </md-toolbar>

        <!-- Main products listing -->
        <div class="main" layout-padding key="{{etsyApiKey}}" active-listings></div>
      
      </div>

    </div>

  </div>

  <!-- Bookmarks -->
  <md-sidenav 
    class="md-sidenav-right md-whiteframe-z2" 
    md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
        <md-icon class="fa fa-bookmark"></md-icon>
        Bookmarks
        <span flex></span>
        <md-button
          title="Bookmark"
          aria-label="Close Bookmarks"
          style="float:right;"
          data-ng-click="closeBookmarksNav()">
          <md-icon class="fa fa-times"></md-icon>
        </md-button>
        </h1>
      </md-toolbar>
      
      <md-content layout-padding>
        <md-content>
            <md-subheader class="md-no-sticky">{{(numBookmarks() === 0)?'No':numBookmarks()}} Bookmark{{(numBookmarks() > 1 || numBookmarks() === 0)?'s':''}}</md-subheader>
              <md-card data-ng-repeat="bookmark in bookmarks | filter:bookmarkFilter">
                <md-card-content>
                  <p class="md-title" data-ng-bind-html="bookmark.title"></p>
                  <div layout-align="left center" layout="row">
                    
                    <md-button data-ng-href="{{bookmark.url}}"
                     target="_blank"
                     ng-disabled="{{!bookmark.url}}"
                     aria-label="Etsy"
                     class="md-icon-button launch" >
                      <md-icon class="fa fa-external-link"></md-icon>
                      <md-tooltip>Launch product in new window</md-tooltip>
                     </md-button>
                    
                    <md-button
                      aria-label="Remove Bookmark"
                      style="float:right;"
                      data-ng-click="removeBookmark(bookmark)">
                      <md-icon class="fa fa-trash"></md-icon>
                      <md-tooltip>Remove Bookmark</md-tooltip>
                    </md-button>

                   </div>
                </md-card-content>
              </md-card>
        
        </md-content>

      </md-content>
    </md-sidenav>

</section>