<div 
	layout="column" 
	class="md-padding" flex>
    <md-grid-list 
    	class="product-grid-list"
    	md-cols="4" 
    	md-cols-sm="1" 
    	md-cols-md="2" 
    	md-gutter="1em" 
    	md-row-height="1:1">
        <md-grid-tile 
        	data-ng-repeat="product in products | filter:productsFilter" 
        	md-rowspan="1" 
        	md-colspan="1" 
        	data-ng-if="getIsProductVisible(product)" 
        	class="product-grid-item">
            <md-card 
            	class="product-card" 
            	data-ng-mouseover="onProductCardHover(product)"
            	data-ng-mouseout="onProductCardOut(product)"
            	id="prod_card_{{product.listing_id}}">
            	<md-toolbar 
            		id="prod_card_toolbar_{{product.listing_id}}"
            		class="product-card-toolbar" 
            		md-scroll-shrink>
				    <div class="md-toolbar-tools">
				      <div layout="row" layout-align="end center">
			        
				        <md-button
				        	aria-label="Etsy"
				        	data-ng-show="!isProductBookmarked(product)"
				        	data-ng-click="bookmarkProduct(product)">
				        	<md-icon class="fa fa-star"></md-icon>
				        	<md-tooltip>Bookmark this Product</md-tooltip>
				        </md-button>

				        <md-button
				        	title="Favorite"
				        	aria-label="Favorite"
				        	data-ng-show="isProductBookmarked(product)"
				        	data-ng-click="removeBookmark(product)" class="md-raised">
				        	<md-icon class="fa fa-heart"></md-icon>
				        	<md-tooltip>Remove from Your Bookmarks</md-tooltip>
				        </md-button>
				        
				        <md-button 
				        	data-ng-href="{{product.url}}"
				         	target="_blank"
				         	data-ng-disabled="{{!product.url}}"
				         	aria-label="Etsy"
				         	class="md-icon-button launch" >
				         	<md-icon class="fa fa-external-link"></md-icon>
				         	<md-tooltip>Open in Etsy</md-tooltip>
				         </md-button>

			         	<md-button 
							class="md-icon-button" aria-label="Description" 
							data-ng-if="product.Shop"
							data-ng-click="openProductDetails($event,product)">
				      		<md-icon class="fa fa-info-circle"></md-icon>
				      		<md-tooltip>
				        		<span data-ng-bind-html="(product.Shop.title)?product.Shop.title:'<strong>View Product Details</strong>'"></span>
			      			</md-tooltip>
			    		</md-button>

			    		<div class="product-category-tags">
				    		<small class="product-category-tag" data-ng-repeat="cat in product.category_path">
				    			{{cat}}&nbsp;
				    		</small>
			    		</div>

	  					</div>
				    </div>
				</md-toolbar>
            	
            	<div class="product-image-wrapper">
            		<img src="{{product.Images[0].url_570xN}}" alt="Product Image" data-ng-click="openProductDetails($event,product)"/>
            	</div>
            	
            	<md-card-content>

					<p class="md-title product-title" data-ng-bind-html="product.title"></p>

				</md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>

    <div 
    	layout="row" 
    	layout-align="center center"
    	layout-margin
    	flex>

    <md-progress-linear 
    	data-ng-show="loading"
    	md-mode="indeterminate"></md-progress-linear>
  	
  	<md-button 
  		class="md-raised" 
  		data-ng-if="products" 
  		data-ng-click="loadMoreListings()" 
  		data-ng-show="!loading">
    	LOAD MORE
    </md-button>

  	</div>

</div>
