
	<md-content data-ng-repeat="product in etsy.results" flex>
		<md-card>
			<md-card-content>
	    		<h2 class="md-title">{{product.title}}</h2>
	    		<p>{{product.description}}</p>
	    	</md-card-content>
	    	<div class="md-actions" layout="row" layout-align="end center">
		        <md-button
		        	title="Bookmark"
		        	aria-label="Etsy"
		        	ng-disabled="isProductBookmarked(product)">
		        	<md-icon class="fa fa-bookmark"></md-icon>
		        </md-button>
		        <md-button data-ng-href="{{product.url}}"
                 title="Launch product in new window"
                 target="_blank"
                 ng-disabled="{{!product.url}}"
                 aria-label="Etsy"
                 class="md-icon-button launch" >
                 	<md-icon class="fa fa-external-link"></md-icon>
                 </md-button>
	      	</div>
		</md-card>
	</md-content>
